<header class="navbar" th:fragment="frag-entete">
  <h1>
    <a href="/">
      <img src="/images/logo.png">
    </a>
  </h1>
  <nav class="nav">
      <a href="/laCarte">La carte</a>
      <a sec:authorize="!isAuthenticated()" href="/commande">Commander</a>
      <a sec:authorize="hasRole('GERANT', 'PIZZAIOLO, 'LIVREUR')" href="/allCommande">Toutes les commandes</a>
      <a sec:authorize="!isAuthenticated()" href="/subscribe">S'inscrire</a>
      <a sec:authorize="!isAuthenticated()" href="/login">Se connecter</a>
      <a sec:authorize="isAuthenticated()" href="/logout">Se déconnecter</a>
      <a sec:authorize="!isAuthenticated()" href="/profil">Profil</a>
      <a sec:authorize="!isAuthenticated()" href="/panier"><img src="/images/shopping-cart.svg"></a>
  </nav>
</header>