<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Toutes les commandes</title>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/images/logo.png">
    <script type="module" src="/javascript/commande.js" defer></script>
</head>
<body class="bodyAllCommande">
    <div th:replace="~{/fragments/fragment-entete :: frag-entete}"></div>
    <center>
        <h1>Trier les commandes par état : </h1>
        <select class="etat" id="selectedEtatInAllCommandes" data-th-field="*{etat}">
            <option value="0">0 - Toutes les commandes</option>
            <option th:each="item : ${etat}"
                    th:text="${item.id} + ' - ' + ${item.libelle}"
                    th:value="${item.id}">
            </option>
        </select>
    </center>
    <form class="form" data-th-object="${commande}" data-th-action="@{/updateEtat}" method="post">
        <table class="tableau">
            <thead>
                <tr>
                    <th>Client</th>
                    <th class="date">Date et heure de création</th>
                    <th>Etat</th>
                    <th>Préparateur</th>
                    <th>Livreur</th>
                    <th>Date et heure de livraison</th>
                    <th>Prix total</th>
                    <th>Détails</th>
                </tr>
            </thead>
            <tbody id="tbodyInAllCommandes">
            <tr th:each="commande : ${commandes}" th:class="'etat-' + ${commande.getEtat().getId()}">
                <td data-th-text="${commande.getClient().getNom() + ' ' + commande.getClient().getPrenom()}"></td>
                <td data-th-text="${commande.getDateHeureCreation()}"></td>
                <td data-th-text="${commande.getEtat().getLibelle()}"></td>
                <td data-th-text="${commande.getPreparateur().getPrenom()}"></td>
                <td data-th-text="${commande.getLivreur().getPrenom()}"></td>
                <td data-th-text="${commande.getDateHeureLivraison()}"></td>
                <td data-th-text="${commande.getPrixTotal()}"></td>
                <td class="btnDetail"><a data-th-href="@{/detailCommande(idCommande=${commande.getId()})}">Détail</a></td>
                <form class="form" data-th-object="${commande}" data-th-action="@{/updateEtat}" method="post">
                    <td th:if="${commande.etat.id != 1}">
                        <select id="idEtat" name="idEtat" data-th-value="${commande.etat}">
                            <option th:if="${user.role.libelle == 'PIZZAIOLO' or user.role.libelle == 'GERANT'}" value="2" th:selected="${commande.etat.id == 2}">Créée</option>
                            <option th:if="${user.role.libelle == 'PIZZAIOLO' or user.role.libelle == 'GERANT'}" value="3" th:selected="${commande.etat.id == 3}">En préparation</option>
                            <option th:if="${user.role.libelle == 'PIZZAIOLO' or user.role.libelle == 'LIVREUR' or user.role.libelle == 'GERANT'}" value="4" th:selected="${commande.etat.id == 4}">Préparée</option>
                            <option th:if="${user.role.libelle == 'LIVREUR' or user.role.libelle == 'GERANT'}" value="5" th:selected="${commande.etat.id == 5}">En livraison</option>
                            <option th:if="${user.role.libelle == 'LIVREUR' or user.role.libelle == 'GERANT'}" value="6" th:selected="${commande.etat.id == 6}">Livrée</option>
                            <option th:if="${user.role.libelle == 'LIVREUR' or user.role.libelle == 'GERANT'}" value="7" th:selected="${commande.etat.id == 7}">Payée</option>
                        </select>
                        <input type="hidden" name="idCommande" data-th-value="${commande.id}" />
                        <button class="btnAdd" type="submit">Changer l'état</button>
                    </td>
                </form>
            </tr>
            </tbody>
        </table>
    </form>
</body>
</html>