<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nouveau Produit</title>
</head>
<body>
<form data-th-object="${produit}" data-th-action="@{/creer}" method="post">
  <h1>Ajout d'un produit</h1>
  <ul class="flex-outer">
    <li>
      <label for="inputGenre">Type : </label>
      <select id="inputGenre" data-th-field="*{type}">
        <option th:each="item : ${typeSession}"
                th:text="${item.libelle}"
                th:value="${item.id}">
        </option>
      </select>
    </li>
    <li>
      <label for="inputNom">Nom : </label>
      <input type="text" id="inputNom" required data-th-field="*{nom}" />
    </li>
    <li>
      <label for="inputUrl">URL Image : </label>
      <input type="text" id="inputUrl" required data-th-field="*{urlImage}" />
    </li>
    <li>
      <label for="inputPrice">Prix Unitaire : </label>
      <input type="number" id="inputPrice" min="1" data-th-field="*{prixUnitaire}" />
    </li>
    <li>
      <label for="inputDescription">Description : </label>
      <input type="text" id="inputDescription" data-th-field="*{description}" />
    </li>
    <button type="submit">Enregistrer</button>
  </ul>
</form>
</body>
</html>