<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Détail du produit</title>
  <link rel="stylesheet" href="/style/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/images/logo.png">
</head>
<body class="bodyDetail">
<div th:replace="~{/fragments/fragment-entete :: frag-entete}"></div>
<form class="formDetail" data-th-object="${produit}" data-th-action="@{/produit}" method="post">

    <h1 th:text="${titre}"></h1>
    <input type="hidden" id="inputId" required data-th-field="*{id}" />

    <label for="inputGenre">Type : </label>
    <select id="inputGenre" data-th-field="*{type}">
    <option th:each="item : ${produit.getType()}"
            th:if="${produit.getType() != null}"
            th:text="${item.libelle}"
            th:value="${item.id}">
    </option>

    <option th:each="item : ${typeSession}"
            th:if="${produit.getType() == null}"
            th:text="${item.libelle}"
            th:value="${item.id}">
    </option>

    </select>

    <label for="inputNom">Nom du produit: </label>
    <input type="text" id="inputNom" data-th-field="*{nom}" placeholder="Nom du produit"/>
    <div th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}" style="color:red;"></div>
    </div>

    <label for="inputUrl">URL Image du produit : </label>
    <input type="text" id="inputUrl" data-th-field="*{urlImage}" placeholder="URL de l'image"/>
    <div th:if="${#fields.hasErrors('urlImage')}" th:errors="*{urlImage}" style="color:red;"></div>

    <label for="inputPrice">Prix Unitaire du produit : </label>
    <input type="number" step="0.01" id="inputPrice" min="0" data-th-field="*{prixUnitaire}" />
    <div th:if="${#fields.hasErrors('prixUnitaire')}" th:errors="*{prixUnitaire}" style="color:red;"></div>

     <label for="inputDescription">Description : </label>
    <input type="text" id="inputDescription" data-th-field="*{description}" placeholder="Description brève de votre produit"/>
    <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" style="color:red;"></div>

    <button class="btnAdd" type="submit">Enregistrer</button>
</form>

<form class="formDetail" data-th-object="${produit}" data-th-action="@{/delete}" method="post">
  <input type="hidden" id="Id" required data-th-field="*{id}" />
  <button class="btnAdd" type="submit"><img src="/images/x.svg"></button>
</form>

</body>
</html>
