<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Commande</title>
    <script type="module" src="/javascript/script.js" defer></script>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
<div th:replace="~{/fragments/fragment-entete :: frag-entete}"></div>
<form data-th-object="${produit}" data-th-action="@{/creerPanier}" method="post">
<div class="donne" data-th-each="produit : ${pizzaProduits}">
  <div class="panier">
    <p data-th-text="${produit.nom} + ' ' + ${produit.prixUnitaire}"></p>
    <button class="myBtn" data-th-attr="data-id=${produit.id}">Ajouter au panier <img src="/images/shopping-cart.svg"></button>
  </div>
  <p data-th-text="${produit.description}"></p>
  <div class="myModal modal" data-th-attr="data-id=${produit.id}">
    <div class="modal-content">
      <span class="close">&times;</span>
      <p data-th-text="${produit.getNom()}"></p>
      <p data-th-text="${produit.getPrixUnitaire()}"></p>
      <p data-th-text="${produit.getDescription()}"></p>
      <select id="inputGenre">
        <option id="un">1</option>
        <option id="deux">2</option>
        <option id="trois">3</option>
        <option id="quatre">4</option>
        <option id="cinq">5</option>
        <option id="six">6</option>
        <option id="sept">7</option>
      </select>
      <button type="submit">Ajouter <p data-th-text="${produit.getNom()}"></p></button>
    </div>
  </div>
</div>
</form>
<div class="donne" data-th-each="boisson : ${boissonProduits}">
  <div class="panier">
    <p data-th-text="${boisson.nom} + ' ' + ${boisson.prixUnitaire}"></p>
    <button class="myBtn" data-th-attr="data-id=${boisson.id}">Ajouter au panier<img src="/images/shopping-cart.svg"></button>
  </div>
  <p data-th-text="${boisson.description}"></p>
  <div class="myModal modal" data-th-attr="data-id=${boisson.id}">
    <div class="modal-content" data-th-field="*{boisson}">
      <span class="close">&times;</span>
      <p data-th-text="${boisson.getNom()}"></p>
    </div>
  </div>
</div>
</body>
</html>