<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Commande</title>
  <script type="module" src="/javascript/script.js" defer></script>
  <link rel="stylesheet" href="/style/style.css">
</head>
<body class="bodyCommande">
<div th:replace="~{/fragments/fragment-entete :: frag-entete}"></div>

<div class="donne" data-th-each="produit : ${pizzaProduits}">
  <div class="panier">
    <p data-th-text="${produit.nom} + ' ' + ${produit.prixUnitaire}"></p><hr>
    <p data-th-text="${produit.description}"></p>
    <button class="myBtn" type="button" data-th-attr="data-id=${produit.id}">Ajouter au panier <img src="/images/shopping-cart.svg"></button>
  </div>

  <!-- Modal pour ajouter le produit au panier avec la quantité -->
  <div class="myModal modal" data-th-attr="data-id=${produit.id}">
    <div class="modal-content">
      <span class="close">&times;</span>
      <p data-th-text="${produit.nom}"></p>
      <p data-th-text="${produit.prixUnitaire}"></p>
      <p data-th-text="${produit.description}"></p>

      <form action="/creerPanier" method="post">
        <input type="hidden" name="idProduit" data-th-value="${produit.id}">
        <label for="quantite">Quantité :</label>
        <select id="quantite" name="quantite">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
        </select>
        <button class="addBucket" type="submit">Ajouter au panier</button>
      </form>
    </div>
  </div>
</div>

<div class="donne" data-th-each="boisson : ${boissonProduits}">
  <div class="panier">
    <p data-th-text="${boisson.nom} + ' ' + ${boisson.prixUnitaire}"></p> <hr>
    <p data-th-text="${boisson.description}"></p>
    <button class="myBtn" type="button" data-th-attr="data-id=${boisson.id}">Ajouter au panier <img src="/images/shopping-cart.svg"></button>
  </div>
  <div class="myModal modal" data-th-attr="data-id=${boisson.id}">
    <div class="modal-content">
      <span class="close">&times;</span>
      <p data-th-text="${boisson.nom}"></p>
      <p data-th-text="${boisson.prixUnitaire}"></p>
      <form action="/creerPanier" method="post">
        <input type="hidden" name="idProduit" data-th-value="${boisson.id}">
        <label for="quantite">Quantité :</label>
        <select id="quantite" name="quantite">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
        </select>
        <button type="submit">Ajouter au panier</button>
      </form>
    </div>
  </div>
</div>
</body>
</html>