<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inscrire un employer</title>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/images/logo.png">
</head>
<body class="bodyDetail">
<div th:replace="~{/fragments/fragment-entete :: frag-entete}"></div>
<form th:action="@{/addEmployer}" data-th-object="${employe}" method="POST">
    <div class="connexion">
        <div class="form">
            <h1>S'inscrire</h1>
            <label>Nom
                <input type="text" data-th-field="*{nom}" placeholder="Nom">
            </label>
            <label>Prénom
                <input type="text" name="prenom" data-th-field="*{prenom}" placeholder="Prénom">
            </label>
            <label>Rue
                <input type="text" name="rue" data-th-field="*{rue}" placeholder="Rue">
            </label>
            <label>Ville
                <input type="text" name="ville" data-th-field="*{ville}" placeholder="Ville">
            </label>
            <label>Code Postal
                <input type="text" name="code_postal" data-th-field="*{codePostal}" placeholder="Code Postal">
            </label>
            <label>
                <select data-th-field="*{role}">
                    <option value="1">Client</option>
                    <option value="2">PIZZAIOLO</option>
                    <option value="3">LIVREUR</option>
                    <option value="4">GERANT</option>
                </select>
            </label>
            <input type="email" name="email" data-th-field="*{email}" placeholder="exemple@bobopizza.com">
            <input type="password" data-th-field="*{password}" name="mot_de_passe">
            <button class="btnAdd" type="submit">Inscription</button>
        </div>
    </div>
</form>
</body>
</html>