<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inscrire un employer</title>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/images/logo.png">
</head>
<body class="bodyDetail">
<div th:replace="~{/fragments/fragment-entete :: frag-entete}"></div>
<form data-th-action="@{/addEmployer}" data-th-object="${employe}" method="POST">
    <div class="connexion">
        <div class="form">
            <h1>Ajouter un employé</h1>
            <label for="nom">Nom </label>
            <input type="text" data-th-field="*{nom}" placeholder="Nom">
            <div th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}" style="color:red;"></div>
            </div>

            <label for="prenom">Prénom</label>
            <input type="text" name="prenom" data-th-field="*{prenom}" placeholder="Prénom">
            <div th:if="${#fields.hasErrors('prenom')}" th:errors="*{prenom}" style="color:red;"></div>
            </div>

            <label for="rue">Rue</label>
            <input type="text" name="rue" data-th-field="*{rue}" placeholder="Rue">
            <div th:if="${#fields.hasErrors('rue')}" th:errors="*{rue}" style="color:red;"></div>
            </div>

            <label for="ville">Ville</label>
            <input type="text" name="ville" data-th-field="*{ville}" placeholder="Ville">
            <div th:if="${#fields.hasErrors('ville')}" th:errors="*{ville}" style="color:red;"></div>
            </div>

            <label for="codePostal">Code Postal</label>
            <input type="text" name="codePostal" data-th-field="*{codePostal}" placeholder="Code Postal">
            <div th:if="${#fields.hasErrors('codePostal')}" th:errors="*{codePostal}" style="color:red;"></div>
            </div>
            <label> Sélectionner un Rôle
                <select data-th-field="*{role}">
                    <option value="2">PIZZAIOLO</option>
                    <option value="3">LIVREUR</option>
                    <option value="4">GERANT</option>
                </select>
            </label>
            <label for="email">E-mail :</label>
            <input type="email" name="email" data-th-field="*{email}" placeholder="exemple@bobopizza.com">
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color:red;"></div>
            </div>

            <label for="password">Mot de passe</label>
            <input type="password" data-th-field="*{password}" name="mot_de_passe">
            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color:red;"></div>
            </div>
            <button class="btnAdd" type="submit">Ajout de l'employé en BDD</button>
        </div>
    </div>
</form>
</body>
</html>