<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>La Carte</title>
        <link rel="stylesheet" href="/style/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    </head>
    <body>
    <div th:replace="~{/fragments/fragment-entete :: frag-entete}"></div>
    <div class="separator"></div>
    <div class="lacarte">
        <img class="imgCarte" src="/images/carte.png">
        <div class="carte">
            <div class="text">
                <img src="/images/logo.png">
                <table>

                </table>
                <div class="donne" data-th-each="produit : ${pizzaProduits}">
                    <p data-th-text="${produit.nom} + ' ' + ${produit.prixUnitaire}"></p>
                    <p data-th-text="${produit.description}"></p>
                </div>

            </div>
        </div>
    </div>
    <div class="lacarte">
        <img class="imgCarte" src="/images/boisson.png">
        <div class="carte">
            <div class="text">
                <img src="/images/logo.png">
                <table>

                </table>
                <div class="donne" data-th-each="boisson : ${boissonProduits}">
                    <p data-th-text="${boisson.nom} + ' ' + ${boisson.prixUnitaire}"></p>
                    <p data-th-text="${boisson.description}"></p>
                    <!--<img data-th-src="${boisson.urlImage}">-->
                </div>
            </div>
        </div>
    </div>
    </body>
</html>