<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Panier</title>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/images/logo.png">
</head>
<body class="bodyDetail">
<div th:replace="~{/fragments/fragment-entete :: frag-entete}"></div>
<center>
    <h1>Votre Panier</h1>
</center>
<div class="panier-container">
    <div class="product">
            <div class="produit" data-th-each="commande : ${produit}">
                <p data-th-text="${commande.nom}"></p>
                <form class="formPanier" data-th-object="${commande}" data-th-action="@{/updateQuantite}" method="post">
                    <button class="btnDelete" type="submit">Modifier la quantité</button>
                    <input type="hidden" name="produitId" data-th-value="${commande.id}" />
                    <select id="quantite" name="quantite" data-th-value="*{quantite}">
                        <option value="1" th:selected="${commande.quantite == 1}">1</option>
                        <option value="2" th:selected="${commande.quantite == 2}">2</option>
                        <option value="3" th:selected="${commande.quantite == 3}">3</option>
                        <option value="4" th:selected="${commande.quantite == 4}">4</option>
                        <option value="5" th:selected="${commande.quantite == 5}">5</option>
                        <option value="6" th:selected="${commande.quantite == 6}">6</option>
                        <option value="7" th:selected="${commande.quantite == 7}">7</option>
                        <option value="8" th:selected="${commande.quantite == 8}">8</option>
                        <option value="9" th:selected="${commande.quantite == 9}">9</option>
                        <option value="10" th:selected="${commande.quantite == 10}">10</option>
                    </select>
                </form>
                <p data-th-text="${commande.prixUnitaire}"></p>
                <p data-th-text="${commande.prixTotal}"></p>
                <form class="formPanier" data-th-object="${commande}" data-th-action="@{/deleteProductInBasket}" method="post">
                    <input type="hidden" name="produitId" data-th-value="${commande.id}" />
                    <button class="btnDelete" type="submit"><img src="/images/x.svg"></button>
                </form>
            </div>
            <p class="total" data-th-each="item :${commandes}">
                <span>Prix total</span>
                <span data-th-text="${item.prixTotal + '€' }"></span>
            </p>
    </div>
    <div class="btn">
        <form data-th-object="${produit}" data-th-action="@{/commander}" method="post">
                <button class="btnAdd" type="submit" id="commander">Passer à la commande</button>
        </form>
        <form class="formPanier" data-th-action="@{/deleteCommande}" method="post">
            <button class="btnAdd btnAddForm" type="submit">Supprimer votre panier<img src="/images/x.svg"></button>
        </form>
    </div>
</div>
</body>
</html>
