<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Panier</title>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
</head>
<body class="bodyDetail">
<div th:replace="~{/fragments/fragment-entete :: frag-entete}"></div>
<h1>Votre Panier</h1>
<form class="formDetail" data-th-object="${produit}" data-th-action="@{/commander}" method="post">
<div class="panier-container">
    <div data-th-each="commande : ${produit}">
        <p data-th-text="${commande.nom}"></p>
        <p data-th-text="${commande.quantite}"></p>
        <p data-th-text="${commande.prixUnitaire}"></p>
        <p data-th-text="${commande.prixTotal}"></p>
        <form class="formDetail" data-th-action="@{/deleteCommande}" method="post">
            <button class="btnAdd" type="submit"><img src="/images/x.svg"></button>
        </form>
    </div>
    <p class="total" data-th-each="item :${commandes}">
        <span>Prix total</span>
        <span data-th-text="${item.prixTotal + '€' }"></span>
    </p>
</div>
<button id="commander">Passer à la commande</button>
</form>
</body>
</html>
